<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title-header">Login de Acceso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login de Acceso</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card class="login-card">
      <ion-card-content>
        <div class="login">
          <img src="./assets/img/icon2.png" alt="Logo" class="login-logo" />
        </div>

        <ion-list class="transparent-list">
          <mat-form-field appearance="outline" class="custom-item">
            <mat-label>Nombre de usuario</mat-label>
            <input matInput [(ngModel)]="user.username" />
          </mat-form-field>
          
          <mat-form-field appearance="outline" class="custom-item">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" [(ngModel)]="user.password" />
          </mat-form-field>

          <ion-item lines="none">
            <ion-label>Recuérdame</ion-label>
            <ion-toggle [(ngModel)]="rememberMe"></ion-toggle>
          </ion-item>

          <ion-item lines="none">
            <a routerLink="/recover" class="custom-link">¿Olvidaste tu contraseña?</a>
          </ion-item>

          <ion-item lines="none">
            <ion-label>{{mensaje}}</ion-label>
          </ion-item>
        </ion-list>

        <div *ngIf="spinner" class="spinner-container">
          <mat-spinner></mat-spinner>
          <p>Cargando...</p>
        </div>

        <div class="button-group">
          <ion-button expand="block" id="kira" class="custom-button" (click)="validar()">
            Conectar
          </ion-button>
          <ion-button expand="block" fill="outline" id="Manzana" class="custom-button-outline" [routerLink]="['/register']">
            Registrar
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
