<ion-header>
  <ion-toolbar>
    <ion-title>Mi Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="perfil-container">
    <!-- Icono de usuario -->
    <ion-avatar class="avatar-usuario">
      <ion-icon name="person-circle-outline" size="large"></ion-icon>
    </ion-avatar>

    <!-- Información del usuario -->
    <ion-card>
      <ion-card-header>
        <!-- Campo Nombre y Apellido -->
        <ion-card-title *ngIf="!editando">
          {{ usuario.nombre }} {{ usuario.apellido }}
        </ion-card-title>
        <ion-card-title *ngIf="editando">
          <ion-label>Nombre:</ion-label>
          <ion-input [(ngModel)]="usuario.nombre" placeholder="Nombre"></ion-input>
          <ion-label>Apellido:</ion-label>
          <ion-input [(ngModel)]="usuario.apellido" placeholder="Apellido"></ion-input>
        </ion-card-title>
        <ion-card-subtitle>{{ usuario.tipo }}</ion-card-subtitle>
      </ion-card-header>
      
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-label>Correo: </ion-label>
            <ion-text *ngIf="!editando">{{ usuario.correo }}</ion-text>
            <ion-input *ngIf="editando" [(ngModel)]="usuario.correo" placeholder="Correo"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Celular: </ion-label>
            <ion-text *ngIf="!editando">{{ usuario.numero_celular }}</ion-text>
            <ion-input *ngIf="editando" [(ngModel)]="usuario.numero_celular" placeholder="Celular"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>RUT: </ion-label>
            <ion-text *ngIf="!editando">{{ usuario.rut }}</ion-text>
            <ion-input *ngIf="editando" [(ngModel)]="usuario.rut" placeholder="RUT"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Fecha de Nacimiento:</ion-label>
            <ion-text *ngIf="!editando">{{ usuario.fecha_nacimiento }}</ion-text>
            <ion-input *ngIf="editando" [(ngModel)]="usuario.fecha_nacimiento" placeholder="Fecha de Nacimiento"></ion-input>
          </ion-item>
        </ion-list>

        <!-- Botón para editar y guardar perfil -->
        <ion-button expand="full" *ngIf="!editando" (click)="activarEdicion()">Editar Perfil</ion-button>
        <ion-button expand="full" *ngIf="editando" (click)="confirmarGuardado()">Guardar Cambios</ion-button>
        <ion-button expand="full" *ngIf="editando" color="light" (click)="cancelarEdicion()">Cancelar</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
