
ion-toolbar {
    --background: transparent; /* Hace el fondo transparente */
    box-shadow: none; /* Elimina la sombra, si la tienes */
  }
  
  /* Estilo para el ion-title dentro del toolbar */
  ion-title {
    color: #4CAF50; /* Cambia el color del texto del título según tu diseño */
    font-size: 30px; /* Ajusta el tamaño del texto del título */
  }
  