<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Recupera tu contraseña</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <ion-card>
      <ion-card-content>
        <ion-label>Ingrese su nombre para recuperar su contraseña</ion-label>
        <ion-item>
          <ion-input type="text" placeholder="Ingrese nombre"></ion-input>
        </ion-item>
          <ion-button [routerLink]="['/home']">Recuperar</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-card>
    </ion-card>
  </div>
</ion-content>
