// General settings
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; // Centrado vertical completo
  background-color: #f5f5f5; // Suave tono gris
  padding: 20px;
}

ion-card {
  width: 100%;
  max-width: 400px; // Tamaño máximo para hacerlo más compacto
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}

.toolbar-turquesa {
  background-color: #4285f4; // Azul de Google
  color: white;
}

.toolbar-naranja {
  background-color: #fbbc05; // Naranja de Google
  color: white;
}

ion-card-title {
  text-align: center;
  font-weight: bold;
  color: #202124; // Color de texto gris oscuro
  font-size: 1.2rem;
}

ion-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-input {
  width: 100%;
  max-width: 300px;
  --padding-start: 0.5rem;
  --padding-end: 0.5rem;
  --background: #ffffff;
  --color: #202124; // Color del texto de entrada
  --border-color: #dadce0; // Gris suave para los bordes
  border-radius: 4px;
  margin-bottom: 10px;

  &::placeholder {
    color: #5f6368; // Color de placeholder
  }
}

ion-button {
  width: 100%;
  max-width: 300px;
  margin-top: 10px;
  border-radius: 4px;
}

p {
  font-size: 0.9rem;
  text-align: center;
  color: #5f6368; // Gris suave
  margin-top: 15px;

  a {
    color: #4285f4; // Azul para los enlaces
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
